<div class="header">
  <app-header></app-header>
</div>

<div class="page-content">
  <div class="section mt-0">
    <div >
      <div class="container">
        <div class="breadcrumbs">
          <a routerLink="/home">{{ "HEADER.MENU.HOME" | translate }}</a>
          <a routerLink="/service-page">{{
            "HEADER.MENU.SERVICE" | translate
          }}</a>
          <span>{{ "PROCEDURES." + procedure.id + ".name" | translate }}</span>
        </div>
      </div>
    </div>
  </div>
  <!--//section-->
  <!--section-->
  <div class="section page-content-first">
    <div class="container mt-6">
      <div class="row">
        <div class="col-md">
          <ul class="services-nav flex-column flex-nowrap">
            <li class="nav-item">
              <a class="nav-link">{{ "Common.CosmeticWomen" | translate }}</a>
              <div class="collapse show" id="submenu1">
                <ul class="flex-column nav">
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      [routerLink]="['/procedure', 'facial-fat-injections']"
                      >{{
                        "PROCEDURES." + "facial-fat-injections" + ".name"
                          | translate
                      }}</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      [routerLink]="['/procedure', 'tummy-tuck']"
                      >{{
                        "PROCEDURES." + "tummy-tuck" + ".name" | translate
                      }}</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      [routerLink]="['/procedure', 'fat-injections-hands']"
                      >{{
                        "PROCEDURES." + "fat-injections-hands" + ".name"
                          | translate
                      }}</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      [routerLink]="['/procedure', 'lower-leg-fat-injections']"
                      >{{
                        "PROCEDURES." + "lower-leg-fat-injections" + ".name"
                          | translate
                      }}</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      [routerLink]="['/procedure', 'bat-ear-sculpting']"
                      >{{
                        "PROCEDURES." + "bat-ear-sculpting" + ".name"
                          | translate
                      }}</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      [routerLink]="['/procedure', 'buttocks-fat-injections']"
                      >{{
                        "PROCEDURES." + "buttocks-fat-injections" + ".name"
                          | translate
                      }}</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      [routerLink]="['/procedure', 'thigh-lifting']"
                      >{{
                        "PROCEDURES." + "thigh-lifting" + ".name" | translate
                      }}</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      [routerLink]="['/procedure', 'thigh-sculpting']"
                      >{{
                        "PROCEDURES." + "thigh-sculpting" + ".name" | translate
                      }}</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      [routerLink]="[
                        '/procedure',
                        'abdominoplasty-waist-sculpting'
                      ]"
                      >{{
                        "PROCEDURES." +
                          "abdominoplasty-waist-sculpting" +
                          ".name" | translate
                      }}</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      [routerLink]="['/procedure', 'eyelid-lifting']"
                      >{{
                        "PROCEDURES." + "eyelid-lifting" + ".name" | translate
                      }}</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      [routerLink]="['/procedure', 'rhinoplasty']"
                      >{{
                        "PROCEDURES." + "rhinoplasty" + ".name" | translate
                      }}</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      [routerLink]="['/procedure', 'lip-augmentation']"
                      >{{
                        "PROCEDURES." + "lip-augmentation" + ".name" | translate
                      }}</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      [routerLink]="['/procedure', 'arm-sculpting']"
                      >{{
                        "PROCEDURES." + "arm-sculpting" + ".name" | translate
                      }}</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      [routerLink]="['/procedure', 'chin-jaw-sculpting']"
                      >{{
                        "PROCEDURES." + "chin-jaw-sculpting" + ".name"
                          | translate
                      }}</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      [routerLink]="['/procedure', 'fat-injections']"
                      >{{
                        "PROCEDURES." + "fat-injections" + ".name" | translate
                      }}</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link">{{ "Common.CosmeticMens" | translate }}</a>
              <div class="collapse show" id="submenu1">
                <ul class="flex-column nav">
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      [routerLink]="['/procedure', 'body-sculpting']"
                      >{{
                        "PROCEDURES." + "body-sculpting" + ".name" | translate
                      }}</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      [routerLink]="['/procedure', 'eyelid-surgery']"
                      >{{
                        "PROCEDURES." + "eyelid-surgery" + ".name" | translate
                      }}</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      [routerLink]="['/procedure', 'rhinoplasty-for-men']"
                      >{{
                        "PROCEDURES." + "rhinoplasty-for-men" + ".name"
                          | translate
                      }}</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      [routerLink]="['/procedure', 'chin-implant']"
                      >{{
                        "PROCEDURES." + "chin-implant" + ".name" | translate
                      }}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      [routerLink]="['/procedure', 'hair-implant']"
                      >{{
                        "PROCEDURES." + "hair-implant" + ".name" | translate
                      }}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      [routerLink]="['/procedure', 'ear-surgery']"
                      >{{ "PROCEDURES." + "ear-surgery" + ".name" | translate }}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      [routerLink]="['/procedure', 'thigh-lift']"
                      >{{ "PROCEDURES." + "thigh-lift" + ".name" | translate }}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      [routerLink]="[
                        '/procedure',
                        'buttock-sculpting-for-athletic-shape'
                      ]"
                      >{{
                        "PROCEDURES." +
                          "buttock-sculpting-for-athletic-shape" +
                          ".name" | translate
                      }}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      [routerLink]="[
                        '/procedure',
                        'legs-sculpting-and-muscle-definition'
                      ]"
                      >{{
                        "PROCEDURES." +
                          "legs-sculpting-and-muscle-definition" +
                          ".name" | translate
                      }}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      [routerLink]="[
                        '/procedure',
                        'chest-Sculpting-and-Muscle-Augmentation'
                      ]"
                      >{{
                        "PROCEDURES." +
                          "chest-Sculpting-and-Muscle-Augmentation" +
                          ".name" | translate
                      }}</a
                    >
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <div class="row d-flex flex-column flex-sm-row flex-md-column mt-3">
            <div class="col-auto col-sm col-md-auto">
              <div class="contact-box contact-box-1">
                <h5 class="contact-box-title">
                  {{ "Common.WorkingTime" | translate }}
                </h5>
                <ul class="icn-list">
                  <li>
                    <i class="icon-clock"></i
                    >{{ "Common.MonThu" | translate }} 08:00 - 20:00 <br />{{
                      "Common.Friday" | translate
                    }}
                    07:00 - 22:00 <br />{{ "Common.Saturday" | translate }}
                    08:00 - 18:00
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-auto col-sm col-md-auto">
              <div class="contact-box contact-box-2">
                <h5 class="contact-box-title">
                  {{ "Common.ContactInfo" | translate }}
                </h5>
                <ul class="icn-list">
                  <li>
                    <i class="icon-telephone"></i>
                    <div class="d-flex flex-wrap">
                      <span>{{ "Common.Phone" | translate }}:&nbsp;&nbsp;</span>
                      <span
                        >1-800-267-0000<br />
                        1-800-267-0001</span
                      >
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="question-box mt-3">
            <h5 class="question-box-title">{{ "Common.Ask" | translate }}</h5>
            <form id="questionForm" method="post" novalidate>
              <div class="successform">
                <p>{{ "Common.YourMessage" | translate }}</p>
              </div>
              <div class="errorform">
                <p>
                  {{ "Common.SomethingWrong" | translate }}
                </p>
              </div>
              <input
                type="text"
                class="form-control"
                name="name"
                placeholder="Your name*"
              />
              <input
                type="text"
                class="form-control"
                name="email"
                placeholder="E-mail*"
              />
              <input
                type="text"
                class="form-control"
                name="phone"
                placeholder="Phone"
              />
              <textarea
                class="form-control"
                name="message"
                placeholder="Question*"
              ></textarea>
              <button type="submit" class="btn btn-sm btn-hover-fill mt-15">
                <i class="icon-right-arrow"></i
                ><span>{{ "Common.AskNow" | translate }}</span
                ><i class="icon-right-arrow"></i>
              </button>
            </form>
          </div>
        </div>
        <div class="col-md-8 col-lg-9 mt-4 mt-md-0">
          <div class="title-wrap">
            <h3>{{ "PROCEDURES." + procedure.id + ".name" | translate }}</h3>
          </div>
          <div class="service-img">
            <img
              [src]="procedure?.image"
              class="img-fluid full-width-image"
              alt=" {{ 'PROCEDURES.' + procedure.id + '.name' | translate }}"
            />
          </div>
          <div class="mt-3 mt-lg-6"></div>
          <p>
            {{ "PROCEDURES." + procedure.id + ".longDescription" | translate }}
          </p>
          <div class="mt-5 mt-lg-6"></div>

          <h3>{{ "Common.Description" | translate }}</h3>

          <!-- Conditionally display descriptions if they exist -->

          <ol
            *ngIf="procedure?.descriptions?.length > 0"
            class="procedure-list"
          >
            <li
              *ngFor="let description of procedure.descriptions; let i = index"
            >
              <h4>
                {{
                  "PROCEDURES." + procedure.id + ".description.title." + i
                    | translate
                }}
              </h4>
              <p>
                {{
                  "PROCEDURES." + procedure.id + ".description.text." + i
                    | translate
                }}
              </p>
            </li>
          </ol>

          <!-- Display message if no descriptions are available -->
          <p
            *ngIf="
              !procedure?.descriptions || procedure.descriptions.length === 0
            "
          >
            No descriptions available.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--//section-->
</div>

<app-footer></app-footer>
