<div class="">
  <div class="container">
    <div class="row py-1 py-md-2 px-lg-0">
      <div class="col-lg-4 footer-col1 pt-lg-3">
        <div class="row flex-column flex-md-row flex-lg-column">
          <div class="col-md col-lg-auto">
            <div class="footer-logo">
              <img
                src="assets/images/footer-logo.png"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="mt-2 mt-lg-0"></div>
          </div>
          <div class="col-md">
            <div class="footer-text mt-1 mt-lg-1">
              <p>
                To receive email releases, simply provide <br />us with your
                email below
              </p>
              <form action="#" class="footer-subscribe">
                <div class="input-group">
                  <input
                    name="subscribe_mail"
                    type="text"
                    class="form-control"
                    placeholder="Your Email"
                  />
                  <span><i class="fa-solid fa-envelope"></i></span>
                </div>
              </form>
            </div>
            <div class="footer-social d-md-none d-lg-block">
              <a href="https://www.facebook.com/" target="blank" class="hovicon"
                ><i class="fa-brands fa-facebook-f"></i
              ></a>
              <a href="https://www.twitter.com/" target="blank" class="hovicon"
                ><i class="fa-brands fa-twitter"></i>
              </a>
              <a href="https://plus.google.com/" target="blank" class="hovicon"
                ><i class="fa-brands fa-google"></i
              ></a>
              <a
                href="https://www.instagram.com/"
                target="blank"
                class="hovicon"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <h3>Blog Posts</h3>
        <div class="h-decor"></div>
        <div class="footer-post d-flex">
          <div class="footer-post-photo">
            <img src="assets/images/blog/blog11.jpg" alt="" class="img-fluid" />
          </div>
          <div class="footer-post-text">
            <div class="footer-post-title">
              <a href="#"
                >The Difference Between Cosmetic and Reconstructive Surgery</a
              >
            </div>
            <p>September 26, 2018</p>
          </div>
        </div>
        <div class="footer-post d-flex">
          <div class="footer-post-photo">
            <img src="assets/images/blog/blog1.jpg" alt="" class="img-fluid" />
          </div>
          <div class="footer-post-text">
            <div class="footer-post-title">
              <a href="#">Pre- and Post-Surgery Tips</a>
            </div>
            <p>August 22, 2018</p>
          </div>
        </div>
        <div class="footer-post d-flex">
          <div class="footer-post-photo">
            <img src="assets/images/blog/blog3.jpg" alt="" class="img-fluid" />
          </div>
          <div class="footer-post-text">
            <div class="footer-post-title">
              <a href="#">Choosing the Right Surgeon</a>
            </div>
            <p>July 25, 2018</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="OurContacts">
          <h3>Our Contacts</h3>
          <div class="h-decor"></div>
          <ul class="icn-list">
            <li>
              <i class="fa-solid fa-location-dot theme-color"></i>1560 Holden
              Street San Diego, CA 92139
              <br />
              <a href="#" class="btn btn-xs btn-gradient"
                ><span>Get directions on the map</span> ></a
              >
            </li>
            <li>
              <i class="fa-solid fa-phone theme-color"></i
              ><b
                ><span class="phone theme-color"
                  ><span class="text-nowrap">1-800-267-0000</span>,
                  <span class="text-nowrap">1-800-267-0001</span></span
                ></b
              >
              <br />(24/7 General inquiry)
            </li>
            <li>
              <i class="fa-solid fa-envelope theme-color"></i
              ><a href="mailto:info@dentco.net theme-color">info.net</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row text-center text-md-left">
        <div class="col-sm">
          Copyright © 2020 <a href="#">Medlab</a
          ><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
          <a href="#">Privacy Policy</a>
        </div>
        <div class="col-sm-auto ml-auto">
          <span class="d-none d-sm-inline"
            >For emergency cases&nbsp;&nbsp;&nbsp;</span
          ><i class="icon-telephone"></i>&nbsp;&nbsp;<b>1-800-267-0000</b>
        </div>
      </div>
    </div>
  </div>
</div>
