<app-header></app-header>
<div class="section mt-0">
  <div class="breadcrumbs-wrap">
    <div class="container">
      <div class="breadcrumbs">
        <a routerLink="/home">{{ "HEADER.MENU.HOME" | translate }}</a>
        <span>{{ "HEADER.MENU.ABOUT" | translate }}</span>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="text-center">
    <h2>
      Most Popular <br class="d-sm-none" /><span class="theme-color"
        >Procedures</span
      >
    </h2>
    <div class="h-decor"></div>
  </div>

  <div class="container-fluid mt-5">
    <div class="row no-gutters">
      <div class="col-xl-6 bg-grey">
        <div class="max-670 mx-lg-auto px-15">
          <div class="row">
            <div class="col-sm-7 col-lg-8">
              <h1 class="theme-color">DR</h1>
              <p>
                {{ "ABOUT.Doctor" | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-xl-6 banner-left bg-full"
        style="
          background-image: url('assets/images/index-img-01.jpg');
          width: 500px;
          height: 500px;
        "
      ></div>
    </div>
  </div>
</div>
<div class="section">
  <div class="Doctor row">
    <div class="testimonial col-lg-6">
      <h1>{{ "ABOUT.Specializations" | translate }}</h1>
      <div class="text">
        <ul>
          <li>{{ "ABOUT.Cosmetic" | translate }}</li>
          <li>{{ "ABOUT.Facelift" | translate }}</li>
          <li>{{ "ABOUT.Rhinoplasty" | translate }}</li>
          <li>{{ "ABOUT.Body" | translate }}</li>
        </ul>
      </div>
    </div>
    <div class="testimonial col-lg-6">
      <h1>{{ "ABOUT.Education" | translate }}</h1>
      <div class="text">
        <ul>
          <li>{{ "ABOUT.Cosmetic" | translate }}</li>
          <li>{{ "ABOUT.Facelift" | translate }}</li>
          <li>{{ "ABOUT.Rhinoplasty" | translate }}</li>
          <li>{{ "ABOUT.Body" | translate }}</li>
        </ul>
      </div>
    </div>
    <div class="testimonial col-lg-6">
      <h1>{{ "ABOUT.Experience" | translate }}</h1>
      <div class="text">
        <ul>
          <li>{{ "ABOUT.Consultant" | translate }}</li>
          <li>{{ "ABOUT.Senior" | translate }}</li>
          <li>{{ "ABOUT.CosmeticSurgeon" | translate }}</li>
        </ul>
      </div>
    </div>
    <div class="testimonial col-lg-6">
      <h1>{{ "ABOUT.Recognitions" | translate }}</h1>
      <div class="text">
        <ul>
          <li>
            {{ "ABOUT.Expert" | translate }}
          </li>
          <li>
            {{ "ABOUT.Adept" | translate }}
          </li>
          <li>{{ "ABOUT.Innovative" | translate }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="stats-container row">
  <div class="stat-item col-lg-3 text-center">
    <h2>24+</h2>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
  </div>
  <div class="stat-item col-lg-3 text-center">
    <h2>10+</h2>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
  </div>
  <div class="stat-item col-lg-3 text-center">
    <h2>92%</h2>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
  </div>
  <div class="stat-item col-lg-3 text-center">
    <h2>100+</h2>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
  </div>
</div>
<div class="gallery-specialist gallery-isotope mt-20" id="gallery-specialist">
  <div class="row">
    <div class="text-center">
      <h2>My Team of <span class="theme-color">Doctors</span></h2>
      <div class="h-decor"></div>
    </div>
    <div class="gallery-item col-lg-4">
      <div class="doctor-box text-center">
        <div class="doctor-box-photo">
          <a href="doctor-page.html"
            ><img src="assets/images/blog/doctor1.png" class="img-fluid" alt=""
          /></a>
        </div>
        <h2 class="doctor-box-name theme-color">Vickey Steen</h2>
        <div class="doctor-box-text">
          <p>
            Chief Surgeon Lorem ipsum dolor sit amet cons ectetur. Id semper
            tortor orci dui.
          </p>
        </div>
      </div>
    </div>
    <div class="gallery-item col-lg-4">
      <div class="doctor-box text-center">
        <div class="doctor-box-photo">
          <a href="doctor-page.html"
            ><img src="assets/images/blog/doctor2.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <h2 class="doctor-box-name theme-color">Vickey Steen</h2>
        <div class="doctor-box-text">
          <p>
            Chief Surgeon Lorem ipsum dolor sit amet cons ectetur. Id semper
            tortor orci dui.
          </p>
        </div>
      </div>
    </div>

    <div class="gallery-item col-lg-4">
      <div class="doctor-box text-center">
        <div class="doctor-box-photo">
          <a href="doctor-page.html"
            ><img src="assets/images/blog/doctor3.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <h2 class="doctor-box-name theme-color">Vickey Steen</h2>
        <div class="doctor-box-text">
          <p>
            Chief Surgeon Lorem ipsum dolor sit amet cons ectetur. Id semper
            tortor orci dui.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="text-center">
    <h2>
      Let’s hear from <br class="d-sm-none" /><span class="theme-color"
        >healthy patient’s</span
      >
    </h2>
    <div class="h-decor"></div>
  </div>

  <div class="Doctor row">
    <div class="testimonial col-lg-6">
      <img src="assets/images/content/doctop-01-sm.jpg" alt="Anna Lane" />
      <div class="text">
        <p>
          Lorem ipsum dolor sit amet consectetur. Nisl aliquet dolor facilisi
          vel tristique. Vel elementum proin est nulla non accumsan eli.
        </p>
        <p class="name theme-color">Anna Lane</p>
      </div>
    </div>
    <div class="testimonial col-lg-6">
      <img src="assets/images/content/doctop-02-sm.jpg" alt="Louis Jourez" />
      <div class="text">
        <p>
          Lorem ipsum dolor sit amet consectetur. Nisl aliquet dolor facilisi
          vel tristique. Vel elementum proin est nulla non accumsan eli.
        </p>
        <p class="name theme-color">Louis Jourez</p>
      </div>
    </div>
    <div class="testimonial col-lg-6">
      <img src="assets/images/content/doctop-03-sm.jpg" alt="Debra Potors" />
      <div class="text">
        <p>
          Lorem ipsum dolor sit amet consectetur. Nisl aliquet dolor facilisi
          vel tristique. Vel elementum proin est nulla non accumsan eli.
        </p>
        <p class="name theme-color">Debra Potors</p>
      </div>
    </div>
    <div class="testimonial col-lg-6">
      <img src="assets/images/content/doctop-04-sm.jpg" alt="Mark Jimenez" />
      <div class="text">
        <p>
          Lorem ipsum dolor sit amet consectetur. Nisl aliquet dolor facilisi
          vel tristique. Vel elementum proin est nulla non accumsan eli.
        </p>
        <p class="name theme-color">Mark Jimenez</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
