.section1 {
  padding: 100px;
  background-color: azure;
}
.icn-list-lg {
  margin: 30px;
  i {
    margin-right: 20px;
  }
}
button {
  margin-bottom: 10px;
}
h5 {
  font-weight: bolder;
}
h2 {
  font-weight: bolder;
}
