h1 {
  margin-top: 400px;
  color: antiquewhite;
}
.section-full {
  height: 800px;
  margin-bottom: 20px;
}
a {
  width: 150px;
  border-radius: 5px;
  color: antiquewhite;
  background-color: rgb(73, 7, 73);
  height: 30px;
  outline: none;
}
a:hover {
  color: black;
}
