/* Global styles */
@import "./app/core/css/style.css";

.ltr {
  direction: ltr !important;
}

.rtl {
  direction: rtl !important;
}

body {
  background-color: white;
  color: black;

  &.dark-mode {
    background-color: #0f1014;
    color: white;
  }
}

/* Default and Dark Mode styles for testimonials */
.testimonial {
  margin-top: 10px;
  margin-left: 200px;
  background-color: azure; /* Light mode background */
  width: 500px;
  font-size: large;
  margin-bottom: 40px;

  /* Dark mode styles */
  body.dark-mode & {
    background-color: #26272f; /* Dark mode background */
    color: #ffffff; /* Light text color */
  }
}

/* Dark mode consolidated styles */
.dark-mode {
  body {
    background-color: #0f1014;
    color: white;
  }

  .testimonial {
    background-color: #26272f;
    color: white;
  }
}

/* Or */
.form-floating ~ label { /* General sibling */
  color: red;
}

%placeholder {
  background-color: lightblue;
}

.my-class {
  @extend %placeholder;
}

div {
  background-color: lightblue;
}